In [1]:
import pandas as pd

In [5]:
test_df = pd.DataFrame(columns=["A", "B", "C"], data=[["chocolate", "vanilla", "strawberry"], ["cup", "vanilla", "cone"], ["chocolate", "vanilla", "strawberry"]])
test_df

           A        B           C
0  chocolate  vanilla  strawberry
1        cup  vanilla        cone
2  chocolate  vanilla  strawberry

In [7]:
binary_test = pd.get_dummies(test_df, columns=["A"])
binary_test

         B           C  A_chocolate  A_cup
0  vanilla  strawberry            1      0
1  vanilla        cone            0      1
2  vanilla  strawberry            1      0